    .body {
        margin: 0;
        font-family: Nunito Sans, sans-serif;
        box-sizing: border-box;
    }

    .header {
        background-color: #131313;
        font-size: 11px;
        line-height: 15px;
        font-style: normal;
        font-weight: normal;
        text-transform: uppercase;
        white-space: nowrap;
        color: #ffffff;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 83px;
        max-width: 1440px;
        margin: 0 auto;
    }

    div .header__logo, .header__number, .header__button, .header-navigation {
        cursor: pointer;
    }

    .header__logo {
        color: #E3B873;
        margin: 37px 72px 36px 92px;
    }

    .header__number {
        text-align: right;
        text-decoration-line: underline;
        color: #E3B873;
        margin: 37px 22px 30px 33px;
    }

    .header__button {
        background: #e3b873;
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
        border-radius: 2px;
        outline: 0;
        border: 0;
        padding: 13px 33px;
        font-style: italic;
        margin: 24px 90px 22px 22px;
    }

    .header-navigation {
        display: flex;
        list-style: none;
    }

    .header-navigation__item {
        margin: 36px 23px;
    }

    .home {
        background-image: url('../images/background.jpg');
        background-size: cover;
        height: 707px;
        padding-top: 0px;
        position: relative;
        display: flex;
        flex-direction: row;
        color: #FFFFFF;
    }

    .home-container {
        position: relative;
        z-index: 1;
    }

    .home-container__title {
        font-family: Yeseva One, sans-serif;
        font-size: 40px;
        line-height: 53px;
        text-transform: uppercase;
        width: 676px;
        height: 105px;
        margin: 194px 628px 10px 134px;
    }

    .home-container__text {
        font-size: 22px;
        line-height: 36px;
        margin: 10px 800px 20px 134px;
        width: 504px;
        height: 89px;
    }

    .image-overlay {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.7);
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .container-button {
        border-radius: 2px;
        font-style: italic;
        font-size: 11px;
        line-height: 15px;
        padding: 19px 42px 21px 41px;
        color: #FFFFFF;
        font-family: Nunito Sans;
    }

    .button {
        cursor: pointer;
    }

    .button__cost {
        background: #E3B873;
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
        margin: 21px 10px 208px 95px;
        border: 0;
    }

    .button__submit {
        border: 1px solid #FFFFFF;
        background: transparent;
    }